
body{
	background-image: url("matrix.jpg");
	z-index: -2;
	align-content: center;
	position: relative;
	opacity: 0;
	transition: opacity 2s;
	}
	

@font-face {
	font-family: antiMatrix;
	src: url("Antimatrix-BWBVw.ttf");
}

@font-face {
	font-family: arcade;
	src: url("ArcadeClassic.ttf");
}

@font-face {
	font-family: Matrix;
	src: url("matrix.ttf");
}

#header {
	color: black;
	font-size: 60px;
	text-align: center;
	font-family: antiMatrix;
	text-shadow: 1px 1px #8cff1a;
	border: double 10px black;
	background-color: white;
	z-index: +2;
	padding:15px;
	margin: 0px;
	opacity: 1;
	position: sticky;
	top: 20px;
}


#main {
	width: 1000px;
	min-height: 2000px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 25px;
	position: relative;
	opacity: 1;
}

p {
	color: white;
	text-align: center;
	font-style: oblique;
}

#free {
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	font-family: arcade;
	z-index: +2;
	text-shadow: 2px 2px black;
	letter-spacing: 2px;
	text-decoration: underline overline;
	opacity: 1;
	position: sticky;
	top: 160px;
}

/* 	background-color: rgba(82, 82, 86);
*/
#escape {
	height: 379px;
	width: 450px;
	background-color: transparent;
	border: solid 1px;
	border-color: white;
	color: white;
	position: absolute;
	text-align: center;
	font-family: matrix;
	transition-delay: 0.2s;
	transition: background-color 1s, box-shadow 1s, transform 1.5s, height 1.5s, width 1.5s;
	font-size: 25px;
	text-decoration: underline;
}

#map {
	position: absolute;
	right: 25px;
	border: solid white 2px;
	padding-top: 3px;
	padding-bottom: none;
	padding-left: 2px;
	padding-right: 2px;
	transition: transform 1.5s, box-shadow 1.5s, background-color 1.5s, font-size 1.5s;
}
#footer {
	margin: auto;
	align-content: center;
}

#terminate {
	bottom: 0px;
	margin: auto;
	position: absolute;
	background-color: transparent;
	border: 2px solid white;
	color: red;
	font-size: 35px;
	text-shadow: 1px 1px white;
}

body:hover {
	opacity: 1;
}

li {
	font-family: serif;
	font-size: 20px;
	text-decoration: none;
	font-style: oblique;
}

#sticky {
	top: 0px;
	position: sticky;
	z-index: +2;
}

#escape:hover {
	height: 600px;
	width: 600px;
	transform: translate3d(50%, 10%,100px);
	z-index: +3;
	box-shadow: 3px 3px red;
	background-color: rgba(82, 82, 86, 1);
}

#map:hover {
	transform: translate3d(-50%, 10%,100px);
	z-index: +3;
	box-shadow: 3px 3px red;
	background-color: rgba(0, 0, 0, 1);
	font-size: 25px;
}

